.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1;
  }
}

// Formatting overrides

.figure {
  margin-bottom: 1rem;
}

.figure img.figure-img {
  max-width: 100%; 
  width: auto; 
  height: auto;
}

.figure .figure-caption {
  font-size: 0.75em;
  margin-top: 0.25rem;
  color: transparentize($black, 0.5);
}

@include media-breakpoint-up(sm) {
  .figure {
      margin-bottom: 2rem;
  }
}

// Type overrides

h1.page-title {
  margin-bottom: 0;
}

p.page-subtitle {
  color: transparentize($black, 0.5);
  font-size: 0.75em;
}


p {
  margin-bottom: 1rem;
  line-height: 1.75;
  font-size: 1.1em;
}

h2 {
  margin-bottom: 1rem;
}

@include media-breakpoint-up(sm) {
  h2 {
    margin-bottom: 2rem;
  }
}

@include media-breakpoint-up(sm) {
  p {
    margin-bottom: 2rem;
  }
}

a {
  border-bottom: 1px solid $black;

  &:hover {
    border-color: $primary;
    color: $primary;
  }
}

blockquote {
  border-left: 1px solid $black;
  padding-left: 15px;
  font-style: italic;
  color: transparentize($black, 0.5);

  & a {
    color: transparentize($black, 0.5);
    border-color: transparentize($black, 0.5);
  }
}

@include media-breakpoint-up(sm) {
  blockquote {
    padding-left: 30px;
  }
}