.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1;
  }
}

// Type overrides

p {
  margin-bottom: 1rem;
  line-height: 1.75;
  font-size: 1.1em;
}

h2 {
  margin-bottom: 1rem;
}

@include media-breakpoint-up(sm) {
  h2 {
    margin-bottom: 2rem;
  }
}

@include media-breakpoint-up(sm) {
  p {
    margin-bottom: 2rem;
  }
}

a {
  border-bottom: 1px solid $black;

  &:hover {
    border-color: $primary;
    color: $primary;
  }
}