.title {
    margin-bottom: 2rem;
}

.back {
    margin-bottom: 0;
    margin-top: -0.5rem;
}

.content {
    padding-top: 2rem;
}

@include media-breakpoint-up(sm) {
    .back {
        margin-top: -2rem;
    }

    .content {
        padding-top: 5rem;
    }
}

@include media-breakpoint-up(lg) {
    .back {
        margin-top: -1rem;
    }

    .content {
        padding-top: 9rem;
    }
}

.figure {
    margin-bottom: 2rem;
}

.figure img.figure-img {
    max-width: 100%; 
    width: auto; 
    height: auto;
}

.figure .figure-caption {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    color: transparentize($black, 0.5);
}