.title {
    margin-bottom: 2rem;
}

.back {
    margin-bottom: 0;
    margin-top: -0.5rem;
    float: left;
}

.content {
    padding-top: 2rem;
}

@include media-breakpoint-up(sm) {
    .back {
        margin-top: -2rem;
    }

    .content {
        padding-top: 5rem;
    }
}

@include media-breakpoint-up(lg) {
    .back {
        margin-top: -1rem;
    }

    .content {
        padding-top: 9rem;
    }
}