{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
  {{ .Content }}

  {{ with .Site.GetPage "/notes" }}
    {{ if gt (len .Pages) 0 }}
      <div class="notes-list">
        <p>Notes</p>
        <ul>
          {{ range .Pages }}
            <li>
              <a href="{{.Permalink}}">{{ if eq (.Draft) true }}Draft - {{end}}{{.Title}}</a> <span class="date">{{.Date.Format "2006-01-02"}}</span>
            </li>
          {{end}}
        </ul>
      </div>
    {{ end }}
  {{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}