// Font
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,800,800i&display=swap');

// Colors
$black: #212529;
$cls_a: #107E9E; // azure blue
$cls_b: #DF507E; // red pink

$primary: $cls_a;
$secondary:$cls_b;

// Bootstrap
@import 'bootstrap/functions';
@import 'bootstrap-variables';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/reboot';
@import 'bootstrap/utilities';
@import 'bootstrap/grid';
@import 'bootstrap/tables';

// Libraries
@import 'libraries/pygments/github';

// Components
@import 'components/page';

// Pages
@import 'pages/home';
@import 'pages/article';

html, body {
  height: 100%;
}

// Global
body {
  font-family: $font-family-base;
  font-size: $font-size-base*0.55;
  line-height: $line-height-base;
  color: $black;
}

// Main column structure
.main-row {
  @extend .row;
  @extend .h-100;
  margin: 0;
}

.side-col {
  flex: 0 0 30px;
  max-width: 30px;

  background: url('/images/marbling-gr.jpg') no-repeat;
  height: 100%;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
}

.main-col {
  @extend .col;
  padding: 15px 30px;
  max-width: 800px;
}

@include media-breakpoint-up(sm) {
  body {
    font-size: $font-size-base;
  }

  .side-col {
    flex: 0 0 60px;
    max-width: 60px;
  }

  .main-col {
    padding: 30px 60px;
    max-width: 800px;
  }
}

// Display breakpoints for DEV
// body:after {
//   color: #000000;
//   font-size: 12px;
//   padding: 5px;
//   font-weight: bold;
//   right: 10px;
//   position: fixed;
//   text-align: center;
//   text-transform: uppercase;
//   bottom: 10px;
//   width: 200px;
//   z-index: 9999;
//   border: solid 1px #000000;
//   @each $name, $value in $grid-breakpoints {
//     @include media-breakpoint-up($name) {
//       content: "#{$name} - min-width: #{$value}";
//     }
//   }
// }
